<div class="ui container">
  <div class="row">
    <h1>Edit Connection</h1>
    <h2><%= @radio_connection.name %></h2>

    <%= form_for @conn, Routes.radio_connection_path(@conn, :update, @radio_connection), [as: :radio_connection, class: "ui form"], fn f -> %>
      <%= render "_form.html", f: f, radio_connection: @radio_connection %>
      <%= submit "Update", class: "ui button" %>
    <% end %>
  </div>
</div>
