/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

#bandScope {
  height: 400px;
  width: 100%;
  float: left;
  position: relative;
}

#audioScope {
  height: 200px;
  width: 400px;
  float: right;
  position: relative;
  // border-radius: 7px;
  // background-color: green;
}

.scope g.c3-chart > g.c3-event-rects{
  // background-color: red;
  // fill: red;
}

.scope .c3-ygrid {
  stroke: #666;
}

.scope .c3-lines-data {
  // stroke: green;
  // stroke-width: .5px
}

.scope .c3-grid line {
  stroke: none;
}

.scope .c3-axis-y .tick,
.scope .c3-axis-x .tick,
.scope .c3-axis-y .domain,
.scope .c3-axis-x .domain {
  display: none;
}

.scope svg {
  // background-color: none;
  // fill: none;
}

.c3-shapes.c3-shapes-data.c3-lines.c3-lines-data > path {
  // stroke: rgba(255, 0, 0, 0) !important;
  // opacity: 0 !important;
  // fill: rgba(0, 255, 0, 1.0) !important;
}

.vfo {
  font-size: 56pt;
  font-family: monospace;
  font-weight: bold;
}

.debug {
  border: 1px dashed red;
}