/* This file is for your main application css. */
// @import "./phoenix.css";
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}


// globals, probably will change

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button { 
  cursor: pointer;
}

// grid etc
.row {
  display: flex;
  justify-content: space-between;
  // margin-left: 0.5rem;
  // border: 1px dashed purple;
  width: 100%;
  margin-bottom: 1rem;
  clear: both;
}

// theme variables
$kenwood-cyan: rgba(0, 205, 238, 1.0);
$kenwood-red: rgba(204, 0, 0, 1.0);
$kenwood-smeter-bg: rgba(40, 40, 40, 1.0);
$kenwood-grey: rgba(90, 90, 90, 1.0);
// $kenwood-grey: rgba(120, 120, 120, 1.0);
$kenwood-gradient-dark: rgba(3, 3, 86, 1.0);
$kenwood-gradient-light: rgba(160, 160, 176, 1.0);
$kenwood-button-bg: rgba(42, 42, 42, 1.0);

$elecraft-green: rgba(0, 252, 0, 1.0);
$elecraft-yellow: rgba(251, 251, 0, 1.0);
$elecraft-dark-blue: rgba(0, 0, 64, 1.0);

$border-radius-medium: 10px;
$border-radius-small: 3px;

.debug {
  border-width: 1px;
  border-style: dashed;
  border-color: red;

  &.green { border-color: green; }
  &.orange { border-color: orange; }
  &.cyan { border-color: cyan; }
}

nav { 
  // float: left;
  // align-content: start;
  // justify-content: space-between;

  align-items: center;
  justify-content: space-between;

  h1 {
    display: inline;
    float: left;
    margin: 0;
  }

  .dashboardNavLink {
    display: inline;
    float: right;
  }

}

// radio specific stuff

#radio {
  margin: 0;
  padding: 0rem 0.5rem;
  // padding-right: 1rem;
  // padding: 0.5rem 0.5rem;
}


.bandIndicator {
  display: inline-block;
  width: 72px;

  .bandPointer {
    width: 15px;
    display: inline-block;
  }
}

#themeSelector {
  float: right;
  font-size: smaller;
  font-weight: bold;
}

.receiverIndicator {
  background-color: black;
  color: gray;
  text-align: center;
  padding: 5px 5px;
  width: 42px;
  height: 36px;

  &.receiver {
    margin-bottom: 15px;
  }

  &.active {
    color: white;
  }
}


#sMeterWrapper {
  padding: 0.25rem;
  width: 475px;
  float: left;
  background-color: black;
  color: white;
  border-radius: $border-radius-small;

  #sMeterText {
    float: left;
    width: 4rem;
  }

  #sMeter {
    float: right;
  }

  .sMeterBG, .sMeter {
    // shape-rendering: geometricPrecision;
  }

  .sMeterBG {
    fill: $kenwood-grey;
  }

  rect.sMeter {
    fill: $kenwood-cyan;
    margin-right: 1px;

    &.high {
      fill: $kenwood-red
    }
  }
}

#audioScopeWrapper {
  display: inline;
  clear: both;
  float: right;

  #audioScope {
    border-radius: $border-radius-small;
    height: 100px;
    background-color: black;
    fill: #999;
    float: right;
  }
}

#vfos {
  display: inline;
  float: left;
  
  .freq {
    font-weight: bold;
    display: inline-block;
    width: 350px;
    font-size: 36pt;
    color: #555;

    &.active {
      font-size: 46pt;
      text-align: right;
      color: black;
    }
  }
}

#scopeDetails {
  padding: 0rem 0.5rem;

  span {
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: $border-radius-small;
    padding: 0.5rem 0.5rem;
  }
}

#bandScope {
  border-radius: $border-radius-medium;
  background-color: black;
  // width: 1280px;
  width: 100%;
  // float: left;
  // position: relative;

}

#bandScope #carrier {
  stroke: rgba(255, 255, 255, 1.0);
  stroke-dasharray: 3 5;
  stroke-width: 0.5pt;
}

.scope.themed {
  .spectrum {
    stroke-width: 0.75px;
  }

  .primaryCarrier {
    stroke: white;
    stroke-width: 0.5pt;
    stroke-dasharray: 0;
  }

  &.phosphor-red {
    .spectrum {
      fill: rgba(51, 0, 0, 1.0);
      stroke: rgba(255, 0, 0, 0.5);
    }

    #spectrumBlur {
      fill: rgba(51, 0, 0, 1.0);
      stroke: rgba(255, 0, 0, 0.5);
      stroke-width: 2px;
    }

  }

  &.phosphor-green {
    .spectrum {
      fill: rgba(0, 51, 0, 1.0);
      stroke: rgba(0, 255, 0, 0.5);
    }

    #spectrumBlur {
      fill: rgba(0, 51, 0, 1.0);
      stroke: rgba(0, 255, 0, 0.5);
      stroke-width: 2px;
    }

  }

  &.elecraft {
    background-color: $elecraft-dark-blue;

    .primaryCarrier {
      stroke: $elecraft-green;
      stroke-width: 0.5pt;
      stroke-dasharray: 0;
    }

    .spectrum {
      fill: none;
      stroke: $elecraft-yellow;
    }

    .spectrumBlur {
      display: none;
    }
  }
}

#scopeControls {
  float: left;
  margin-right: 50px;
}

#bandScopeLimits {
  .scopeLimit {
    z-index: 101;
    font-size: 18pt;
    // font-family: monospace;
    font-weight: bold;
  }
}

#bandScopeDetails {
  align-content: start;
  justify-content: flex-start;

  .scopeDetailItem {
    background-color: black;
    color: white;
    border-radius: $border-radius-small;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
  }
}


#bandScopeWrapper {

  #bandScopeLow {
    padding-left: 1rem;
    // display: inline;
    // position: relative;
  }

  #bandScopeHigh {
    padding-right: 1rem;
    // display: inline;
    // position: relative;
    float: right;
  }
}

#bandSelectors div button {
  width: 11rem;
  font-size: 16pt;
}

#modeKeys {
  // border: 1px dotted red;
  width: 120px;
  flex-direction: column;

  button {
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
  }
}

.socket.debug {
  font-family: monospace;
  white-space: pre;
}