/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

#audioscope {
  height: 200px;
  width: 400px;
  float: right;
  position: relative;
  // background-color: black;
}

#audioscope g.c3-chart > g.c3-event-rects{
  // background-color: red;
}

#audioscope .c3-ygrid {
  stroke-dasharray: 0;
  stroke: #666;
}

#audioscope .c3-lines-data {
  stroke: green;
  stroke-width: 0.5px
}

#audioscope .c3-grid line {
  stroke: none;
}

#audioscope .c3-axis-y .tick, #audioscope .c3-axis-x .tick {
   display: none;
}

#audioscope .c3-axis-y .domain, #audioscope .c3-axis-x .domain {
  stroke: none;
}

.c3-shapes.c3-shapes-data.c3-lines.c3-lines-data > path {
  // stroke: rgba(255, 0, 0, 0) !important;
  // opacity: 0 !important;
  // fill: rgba(0, 255, 0, 1.0) !important;
}