// /* This file is for your main application css. */
// @import "./phoenix.css";
/* Alerts and form errors */

@import "vars";

.alert {
  position: absolute;
  z-index: 9999;
  padding: 15px;
  //margin-top: 5rem;
  border: 1px solid transparent;
  font-size: larger;
  //width: 100%;
  //text-align: center;
  font-weight: bold;
  //border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

#contentWrapper {
  margin-top: 1rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}


h1.title {
  padding-bottom: 2rem;
}


body.dark {
  background-color: #000;
}

body.light {
  background-color: #fff;
}

.vfoFont {
  font-family: $vfo-font;
}

#radio {
  color: #ccc;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ui.basic.radio.button {
  //background-color: $kenwood-grey !important;
  color: $kenwood-grey !important;
  border: 1px solid $kenwood-grey !important;
}

// .ui.button {
//   background-color: #333;
//   color: #ccc;
// }


.debug {
  //border-width: 1px;
  //border-style: dashed;
  //border-color: red;

  &.green { border-color: green !important; }
  &.orange { border-color: orange !important; }
  &.cyan { border-color: cyan !important; }
  &.pink { border-color: pink !important;}
  &.purple { border-color: purple !important;}

  .column {
    border: 1px dashed red;
  }
}

nav {
  // float: left;
  // align-content: start;
  // justify-content: space-between;

  align-items: center;
  justify-content: space-between;

  h1 {
    display: inline;
    float: left;
    margin: 0;
  }

  .dashboardNavLink {
    display: inline;
    float: right;
  }
}

// radio specific stuff

#radio {
  margin: 0;
  padding: 0rem 0.5rem;
  // padding-right: 1rem;
  // padding: 0.5rem 0.5rem;
}


.bandIndicator {
  display: inline-block;
  width: 72px;

  .bandPointer {
    width: 15px;
    display: inline-block;
  }
}

.receiverIndicator {
  background-color: #ccc;
  color: black;

  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;

  &.receiver {
    margin-bottom: 15px;
  }

  &.active {
    background-color: white;
    color: black;
  }
}

.sMeterWrapper, .audioScopeWrapper {
  max-width: 350px;
}

.sMeterWrapper {
  padding: 0.25rem;
  background-color: black;
  color: white;
  border-radius: $border-radius-small;

  .meterBG {
    fill: $kenwood-grey;
  }

  .meter.high {
    fill: $kenwood-red
  }

  .meter.low {
    fill: $kenwood-cyan;
  }

  #sMeterLegend {
    line {
      stroke-width: 1px;

      &.low { stroke: white; }
      &.high { stroke: red; }
    }

    #levelPips {
      .pip {
        stroke-width: 1px;
        &.low { stroke: white; }
        &.high { stroke: red; }
      }
      text {
        .low { color: white; z-index: 999; }
        .high { color: red; }
      }
    }

    text {
      font-size: $meter-legend-font-size;
      font-family: sans-serif;

      &.low { fill: white; }
      &.high { fill: red; }
    }
  }

  #alcMeterLegend {
    text {
      font-size: $meter-legend-font-size;
      font-family: sans-serif;
      fill: red;
    }

    line {
      stroke-width: 1px;
      &.high { stroke: red; }
    }
  }

  .meterLegend {
    text {
      fill: white;
      font-size: $meter-legend-font-size;
      font-family: sans-serif;

      &.inf {
        font-size: 16px;
        font-family: monospace;
      }
    }
  }
}

.audioScopeWrapper {
  float: right;
  #audioScope, #AudioScopeCanvas {
    width: 100%;
  }
  
  #audioScope {
    //border-radius: $border-radius-small;
    border-top: 2px solid $kenwood-grey;
    border-left: 2px solid $kenwood-grey;
    border-right: 2px solid $kenwood-grey;
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;

    background-color: black;
    fill: #999;
    // float: right;

    #audioScopeFilter {
      fill: none;
      stroke: rgba(128, 128, 128, 1.0);
      stroke-width: 1px;
    }

    .audioScopeLabel {
      fill: rgba(202, 203, 205, 1.0);
      font-size: $meter-legend-font-size;
      font-weight: bold;
      font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    .spectrum {
      stroke-width: 1.1;
      fill: url(#kenwoodAudioScope);
      stroke: rgba(192, 207, 204, 1.0);

    }

  }

  #notchLocationIndicator {
    stroke-width: 1.1;
    stroke: rgba(192, 207, 204, 1.0);
  }

  #AudioScopeCanvas {
    border-bottom: 2px solid $kenwood-grey;
    border-left: 2px solid $kenwood-grey;
    border-right: 2px solid $kenwood-grey;
    border-bottom-left-radius: $border-radius-small;
    border-bottom-right-radius: $border-radius-small;
    // float: right;
    // this should be 0, not sure where it's coming from
    margin-top: -4px;
  }
}

.vfos {
  .freq {

    font-family: $vfo-font;
    // font-weight: bold;
    display: inline-block;

    &.active {
      font-size: 3.5vmax;
      // font-size: 300%;
      color: white;
      // font-size: 4rem;
      // text-align: right;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 0.25rem;
      }
    }

    &.inactive {
      font-size: 2.5vmax;
      color: $secondary-color;
      // text-align: left;
      // margin-left: 1em;
    }

  }

  .modeIndicator {
    font-weight: semi-bold;

    &.active {
      // font-size: 2rem;
      // margin-right: 2rem;
    }
  }

}

#scopeDetails {
  padding: 0rem 0.5rem;

  span {
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: $border-radius-small;
    padding: 0.5rem 0.5rem;
  }
}

svg#bandScope {
  border-radius: $border-radius-small;
  background-color: black;
  margin-bottom: 0;
  padding-bottom: 0;
  // width: 100%;
  // height: 100%;

  text.bandEdge {
    fill: white;
    font-size: 0.6rem;
    font-weight: 550;

    &.high {
      text-anchor: end;
    }
  }

  #carrier {
    stroke: rgba(255, 255, 255, 1.0);
    stroke-dasharray: 3 5;
    stroke-width: 0.5pt;
  }

  .spectrum {
    // themeish specific
    // background: linear-gradient($kenwood-gradient-light, $kenwood-gradient-dark);
    // fill: rgba(0, 0, 0, 1.0);
    // fill: url(#plasma);
    stroke-width: 1.1;
    fill: url(#kenwoodBandScope);
    stroke: rgba(192, 207, 204, 1.0);
  }

}

.scope.themed {
  #passband {
    fill: $kenwood-passband-fill;
  }

  .secondaryCarrier {
    stroke: $kenwood-red;
  }

  .carrier.rx {
    stroke: white;
    stroke-width: 0.5pt;
    stroke-dasharray: 0;
  }

  .carrier.tx {
    stroke: $kenwood-red;
    stroke-width: 0.5pt;
    stroke-dasharray: 0;

  }

  .triangle.rx {
    fill: white;
  }

  .triangle.tx {
    fill: $kenwood-red;
  }

  .triangleText {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
  }

  .txOffscreen {
    fill: $kenwood-red;
  }

  &.kenwood {
    .primaryCarrier {
      stroke: $kenwood-carrier-stroke;
    }

    .triangle.rx {
      fill: white;
    }

    .triangleText {
      color: #666;
      font-size: 8px;
      font-weight: bold;
      font-family: sans-serif;
    }

    #passband {
      fill: $kenwood-passband-fill;
    }

    .bandscopeGrid {
      stroke: $kenwood-grid;
      stroke-width: $kenwood-grid-width;
    }
  }
  
  &.elecraft {
    background-color: $elecraft-dark-blue;

    #passband {
      fill: $elecraft-green-transparent;
    }

    #rxTriangleGroup {
      display: none;
    }

    .primaryCarrier {
      stroke: $elecraft-green;
      stroke-width: 0.5pt;
      stroke-dasharray: 0;
    }

    .spectrum {
      fill: none;
      stroke: $elecraft-yellow;
    }

    .spectrumBlur {
      display: none;
    }

    .bandscopeGrid.horizontal {
      stroke: $elecraft-grid;
      stroke-width: 0.75;
      stroke-dasharray: 2 2;
    }
  }
  &.phosphor-red {
    .spectrum {
      fill: rgba(51, 0, 0, 1.0);
      stroke: rgba(255, 0, 0, 0.5);
    }

    #spectrumBlur {
      fill: rgba(51, 0, 0, 1.0);
      stroke: rgba(255, 0, 0, 0.5);
      stroke-width: 2px;
    }

  }

  &.phosphor-green {
    .spectrum {
      fill: rgba(0, 51, 0, 1.0);
      stroke: rgba(0, 255, 0, 0.5);
    }

    #spectrumBlur {
      fill: rgba(0, 51, 0, 1.0);
      stroke: rgba(0, 255, 0, 0.5);
      stroke-width: 2px;
    }

  }

}

#bandScopeLimits {
  .scopeLimit {
    z-index: 101;
    font-size: 18pt;
    // font-family: monospace;
    font-weight: bold;
  }
}

#bandSelectors div button {
  width: 11rem;
  font-size: 16pt;
}

.ui.modal {
  margin-top: 0 !important;
  margin-left: auto;
  margin-right: auto;
}
.ui.page.modals.transition.visible {
  display: flex !important;
}

.mono {
  font-family: monospace;
}

#bandscopeBackground {
  fill: none;
}

#bandScopeContainer {
  // border: 1px dashed red;
  //height: 100% !important;

}

#bandScopeWrapper {
  border: 2px solid $kenwood-grey;
  // border: 1px dashed cyan;
  margin-bottom: 1rem;
  border-radius: 5px;
  height: 100%;
}

.waterfall {
  &.bandscope {
    width: 100%;
    // height: 100px;
    margin-top: -5px;
    border-top: 2px solid $kenwood-grey;
  }
}


.hover-pointer:hover {
  cursor: pointer;
}


#emptyState .appear {
  display: none;
}


.uppercase {
  text-transform: uppercase !important;
}

#RefLevelControl {
  // min-height: 1em;
  vertical-align: baseline;

  form#refLevel {
    &:focus {
      border: none;
    }
  }
}

.miniTextInput {
    // margin-left: 1rem;
    // margin-right: 0.5rem;
    width: 3em;
    padding: 0;
    margin: 0 0.5em;
    border: 0;
    text-align: center;
    font-weight: bold;
    -moz-appearance: textfield;
    border-radius: $border-radius-small;
    cursor: default;

    &:hover { cursor: pointer; }
    &:focus { cursor: text; }
    &:focus-visible { border: none; }

}

.resize-both {
  resize: both;
  overflow: auto;
}

.resize-h {
  resize: horizontal;
  overflow: auto;
}

.resize-v {
  resize: vertical;
  overflow: auto;
}

.inline {
  display: inline;
}

.vfoMemIndicator {
  float: left;
}


.slider {
  margin-bottom: 0.5rem;
  width: 300px;
  display: block;

  .label {
    width: 3rem;
  }
}

.sliderWrapper {
  margin-top: 5px;
  float: right;
  width: 255px;
  // max-width: 300px;
  height: 1rem;
  background-color: $kenwood-grey;

  cursor: pointer;

  .indicator {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;

    &.green {
      background-color: $elecraft-green;
    }
  }
}

.xvtrIndicator {
  background-color: white;
  color: black;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.1rem 0.5rem;

  &.disabled {
    visibility: hidden;
  }
}

.txTune {
  color: white;
  animation: blink 0.25s infinite;
}

.txIndicator {
  width: 100%;
  position: relative;
  padding: 0.25rem 0.5rem;
  text-align: center;
  border-radius: 3px;

  &.send {
    background-color: red;
    color: white;
  }

  &.rx {
    background-color: #0F0;
    color: white;
  }
}


@keyframes blink {
  0% { color: white; }
  50% { color: black; }
  100% { color: white; }
}


.topBar {
  font-weight: 600;
  color: white;
  font-size: larger;
}

.connectionStatus {
  color: #A0A0A0;
  // color: $kenwood-grey;
}

.indicators {
  border-bottom: 1px solid $kenwood-grey;
}

.indicator {
  font-weight: bold;
  font-size: medium;
}

.bandRegister {
  font-weight: bold;
  font-size: medium;
  margin-top: 0.5rem;

  &.inactive {
    font-size: medium;
    color: $secondary-color;

    .register {
      background-color: $secondary-color;
    }
  }

  .register {
    // background-color: white;
    // color: black;
    // padding: 0rem 0.5rem;
    // margin-left: 0.5rem;

  }
}

.inverted {
  background-color: white;
  color: black;
  padding: 0rem 0.5rem;
  margin-left: 0.5rem;
}

.rotating {
  line-height: 1;
  height: 1rem;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.bandscopeContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


.bandscopePanel.left {
  margin-right: 0;
  padding: 1rem;
  // border-top: 2px solid $kenwood-button-bg;
  // border-bottom: 2px solid $kenwood-button-bg;
  // border-left: 2px solid $kenwood-button-bg;
  width: $panel-width;
}

.bandscopePanel.toggle {
  margin-right: 1rem;
  margin-left: 0;
  padding: 0;
  position: relative;
  float: left;
  width: $panel-toggle-width;
  border-radius: $border-radius-small;
  height: 100%;
  background-color: $kenwood-button-bg;

  &:hover {
    background-color: $kenwood-grid;
    cursor: pointer;
  }
}

.bandscopePanel.right {
  flex-grow: 1;
}

// TBD
.splitButton.active {
  color: black !important;
  background-color: $kenwood-yellow !important;
}

.hidden {
  display: none;
}