name: Elixir CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Install OTP and Elixir
        uses: actions/setup-elixir@v1
        with:
          otp-version: 22.3.4.6
          elixir-version: 1.10.4
      - name: Retrieve Mix Dependencies Cache (uncompiled)
        uses: actions/cache@v2
        id: mix-cache # used to check if we can skip `mix deps.get`
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - name: Retrieve Build Cache (compiled)
        uses: actions/cache@v2
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-build-
      - name: Install Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Compile
        run: mix clean && MIX_ENV=test mix compile
      # - name: Run Tests
      #   run: MIX_ENV=test mix coveralls
      - name: Ensure code is linted
        run: MIX_ENV=test mix credo suggest --mute-exit-status
      - name: Run Sobelow
        run: MIX_ENV=test mix sobelow --ignore Config.CSP,Config.HTTPS
